# Server Settings
PROJECT_NAME="Heydi_AI"
API_V1_STR="/api/v1"
CONVERSATION_SERVICE_MODE="future_reminder"
TOOL_CALL_LOG_PATH="tool_calls.log"
CONVERSATION_LOG_PATH="conversation.log"

# Database Settings
DATABASE_URL="postgresql+asyncpg://username:password@localhost:5432/postgres"
